.expense-filter{
display: flex;

margin-top: 1rem;
margin-bottom: 2rem;

}

.expense-filter__control{
    
}

.expense-filter__control select{
    height: 3rem;
    width: 10rem;
    padding: 0 0.5rem;
    font-size: large;
}

.expense-filter__control option {
   
}

.expense-filter__control label{
    color: white;
    margin: 0 1rem;
    font-size: larger;
    font-weight: bolder;
}